html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: 'Amatic SC', cursive;
}

h1 {
  font-size: 6rem;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: #37474f url(../img/background-main.jpg) center no-repeat;
  background-size: cover;
}

main span, a{
  color: #43a047;
}

main a {
  padding: 0 .6rem;
  font-size: 3.6rem;
  line-height: 4rem;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

main a:hover {
  background-color: #ffffff;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 8rem;
  background-color: transparent;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.header-nav {
  height: 100%;
}

.header a {
  margin-left: 4rem;
  padding: 0 .6rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.6rem;
  color: #ffffff;
  transition: background-color .3s;
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -ms-transition: background-color .3s;
  -o-transition: background-color .3s;
}

.header a:hover {
  color: #263238;
  background-color: #ffffff;
}

.header.scroll {
  height: 5rem;
  background-color: #ffffff;
  box-shadow: 0 .6rem 2rem .1rem rgba(75, 75, 75, 0.2)
}

.header.scroll a {
  color: #263238;
}

.about {
  height: 90rem;
  width: 100%;
  background-color: #c2c2c2c2;
}

@media (min-width: 768px) {
  .container {
    width:75rem;
  }
}

@media (min-width: 992px) {
  .container {
    width: 97rem;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 117rem;
  }
}